/* Countdown-2 */

position: relative;
width: 1440px;
height: 900px;

background: #02010E;


/* Countdown */

position: relative;
width: 1440px;
height: 900px;

background: #02010E;

/* Countdown-2 */

position: relative;
width: 1440px;
height: 900px;

background: #02010E;


/* cronometro */

position: absolute;
width: 562px;
height: 150px;
left: calc(50% - 562px/2);
top: 509px;



/* dias */

position: absolute;
width: 61px;
height: 42px;
left: 1px;
top: 108px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height */

color: #6FFF57;



/* horas */

position: absolute;
width: 82px;
height: 42px;
left: 135px;
top: 108px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height */

color: #6FFF57;



/* min */

position: absolute;
width: 53px;
height: 42px;
left: 312px;
top: 108px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height */

color: #6FFF57;



/* seg */

position: absolute;
width: 53px;
height: 42px;
left: 484px;
top: 108px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height */

color: #6FFF57;



/* 7 */

position: absolute;
width: 64px;
height: 166px;
left: 0px;
top: -32px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 166px;

color: #FFFFFF;



/* Frame 2 */

position: absolute;
width: 109px;
height: 125px;
left: 117px;
top: -32px;



/* Group 2 */

position: absolute;
width: 120px;
height: 166px;
left: -4px;
top: 0px;



/* 13 */

position: absolute;
width: 120px;
height: 166px;
left: -4px;
top: 0px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 166px;

color: #FFFFFF;



/* 18 */

position: absolute;
width: 125px;
height: 166px;
left: 276px;
top: -32px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 166px;

color: #FFFFFF;



/* Frame 4 */

position: absolute;
width: 108px;
height: 127px;
left: 454px;
top: -32px;



/* Group 4 */

position: absolute;
width: 120px;
height: 166px;
left: -4px;
top: 0px;



/* 13 */

position: absolute;
width: 120px;
height: 166px;
left: -4px;
top: 0px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 166px;

color: #FFFFFF;



/* aba-conteudo */

position: absolute;
width: 1192px;
height: 557px;
left: 124px;
top: 231px;



/* Rectangle 3 */

position: absolute;
width: 1192px;
height: 557px;
left: 124px;
top: 231px;

background: rgba(58, 55, 94, 0.3);
border-radius: 0px 0px 40px 40px;


/* Criar 5 projetos em JavaScript */

position: absolute;
width: 784px;
height: 84px;
left: calc(50% - 784px/2);
top: calc(50% - 84px/2 - 113px);

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* TEMPO PARA COMPLETAR OBJETIVO */

position: absolute;
width: 345px;
height: 26px;
left: calc(50% - 345px/2 - 0.5px);
top: 443px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height */

color: #6FFF57;



/* botão-4 */

position: absolute;
width: 298px;
height: 111px;
left: 1018px;
top: 116px;



/* Rectangle 9 */

position: absolute;
width: 298px;
height: 111px;
left: 1018px;
top: 116px;

background: rgba(58, 55, 94, 0.5);
border-radius: 0px 40px 0px 0px;


/* Atualizar meu currículo */

position: absolute;
width: 270px;
height: 83px;
left: 1032px;
top: 130px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* botão-3 */

position: absolute;
width: 298px;
height: 111px;
left: 720px;
top: 116px;



/* Rectangle 8 */

position: absolute;
width: 298px;
height: 111px;
left: 720px;
top: 116px;

background: rgba(58, 55, 94, 0.5);


/* Criar um portfolio */

position: absolute;
width: 270px;
height: 83px;
left: 734px;
top: 130px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* botão-2 */

position: absolute;
width: 298px;
height: 111px;
left: 422px;
top: 116px;



/* Rectangle 2 */

position: absolute;
width: 298px;
height: 111px;
left: 422px;
top: 116px;

background: #3A375E;


/* Criar projetos em JavaScript */

position: absolute;
width: 270px;
height: 83px;
left: 436px;
top: 130px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* botão-1 */

position: absolute;
width: 298px;
height: 111px;
left: 124px;
top: 116px;



/* Rectangle 4 */

position: absolute;
width: 298px;
height: 111px;
left: 124px;
top: 116px;

background: rgba(58, 55, 94, 0.5);
border-radius: 40px 0px 0px 0px;


/* Estudar cursos na Alura */

position: absolute;
width: 270px;
height: 83px;
left: 138px;
top: 130px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* bordas-botões */

position: absolute;
width: 1192px;
height: 113.03px;
left: 124px;
top: 116px;



/* Rectangle 10 */

position: absolute;
width: 2px;
height: 109.1px;
left: 718px;
top: 116px;

background: #3A375E;


/* Rectangle 11 */

position: absolute;
width: 2px;
height: 109.1px;
left: 1017px;
top: 116px;

background: #3A375E;


/* Rectangle 12 */

position: absolute;
width: 1192px;
height: 3.93px;
left: 124px;
top: 225.1px;

background: #3A375E;


/* Rectangle 13 */

position: absolute;
width: 298px;
height: 3.93px;
left: 422px;
top: 225px;

background: #6FFF57;


/* titulo-principal */

position: absolute;
width: 298px;
height: 36px;
left: 124px;
top: 40px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;

color: #FFFFFF;



/* Countdown */

position: relative;
width: 1440px;
height: 900px;

background: #02010E;


/* cronometro */

position: absolute;
width: 562px;
height: 148px;
left: calc(50% - 562px/2);
top: 509px;



/* dias */

position: absolute;
width: 61px;
height: 42px;
left: 1px;
top: 108px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height */

color: #6FFF57;



/* horas */

position: absolute;
width: 82px;
height: 42px;
left: 135px;
top: 108px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height */

color: #6FFF57;



/* min */

position: absolute;
width: 53px;
height: 42px;
left: 312px;
top: 108px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height */

color: #6FFF57;



/* seg */

position: absolute;
width: 53px;
height: 42px;
left: 484px;
top: 108px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
/* identical to box height */

color: #6FFF57;



/* 7 */

position: absolute;
width: 64px;
height: 166px;
left: 0px;
top: -32px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 166px;

color: #FFFFFF;



/* Frame 2 */

position: absolute;
width: 109px;
height: 125px;
left: 117px;
top: -32px;



/* Group 2 */

position: absolute;
width: 120px;
height: 166px;
left: -4px;
top: 0px;



/* 13 */

position: absolute;
width: 120px;
height: 166px;
left: -4px;
top: 0px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 166px;

color: #FFFFFF;



/* 18 */

position: absolute;
width: 125px;
height: 166px;
left: 276px;
top: -32px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 166px;

color: #FFFFFF;



/* Frame 4 */

position: absolute;
width: 108px;
height: 127px;
left: 454px;
top: -32px;



/* Group 4 */

position: absolute;
width: 120px;
height: 166px;
left: -4px;
top: 0px;



/* 13 */

position: absolute;
width: 120px;
height: 166px;
left: -4px;
top: 0px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 166px;

color: #FFFFFF;



/* aba-conteudo */

position: absolute;
width: 1192px;
height: 557px;
left: 124px;
top: 231px;



/* Rectangle 3 */

position: absolute;
width: 1192px;
height: 557px;
left: 124px;
top: 231px;

background: rgba(58, 55, 94, 0.3);
border-radius: 0px 0px 40px 40px;


/* Estudar 4 cursos na Alura */

position: absolute;
width: 784px;
height: 84px;
left: calc(50% - 784px/2);
top: calc(50% - 84px/2 - 113px);

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* TEMPO PARA COMPLETAR OBJETIVO */

position: absolute;
width: 345px;
height: 26px;
left: calc(50% - 345px/2 - 0.5px);
top: 443px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height */

color: #6FFF57;



/* botão-4 */

position: absolute;
width: 298px;
height: 111px;
left: 1018px;
top: 116px;



/* Rectangle 9 */

position: absolute;
width: 298px;
height: 111px;
left: 1018px;
top: 116px;

background: rgba(58, 55, 94, 0.5);
border-radius: 0px 40px 0px 0px;


/* Atualizar meu currículo */

position: absolute;
width: 270px;
height: 83px;
left: 1032px;
top: 130px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* botão-3 */

position: absolute;
width: 298px;
height: 111px;
left: 720px;
top: 116px;



/* Rectangle 8 */

position: absolute;
width: 298px;
height: 111px;
left: 720px;
top: 116px;

background: rgba(58, 55, 94, 0.5);


/* Criar um portfolio */

position: absolute;
width: 270px;
height: 83px;
left: 734px;
top: 130px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* botão-2 */

position: absolute;
width: 298px;
height: 111px;
left: 422px;
top: 116px;



/* Rectangle 2 */

position: absolute;
width: 298px;
height: 111px;
left: 422px;
top: 116px;

background: rgba(58, 55, 94, 0.5);


/* Criar projetos em JavaScript */

position: absolute;
width: 270px;
height: 83px;
left: 436px;
top: 130px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* botão-1 */

position: absolute;
width: 298px;
height: 111px;
left: 124px;
top: 116px;



/* Rectangle 4 */

position: absolute;
width: 298px;
height: 111px;
left: 124px;
top: 116px;

background: #3A375E;
border-radius: 40px 0px 0px 0px;


/* Estudar cursos na Alura */

position: absolute;
width: 270px;
height: 83px;
left: 138px;
top: 130px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* bordas-botões */

position: absolute;
width: 1192px;
height: 115px;
left: 124px;
top: 116px;



/* Rectangle 10 */

position: absolute;
width: 2px;
height: 111px;
left: 718px;
top: 116px;

background: #3A375E;


/* Rectangle 11 */

position: absolute;
width: 2px;
height: 111px;
left: 1017px;
top: 116px;

background: #3A375E;


/* Rectangle 12 */

position: absolute;
width: 1192px;
height: 4px;
left: 124px;
top: 227px;

background: #3A375E;


/* Rectangle 13 */

position: absolute;
width: 298px;
height: 4px;
left: 124px;
top: 227px;

background: #6FFF57;


/* titulo-principal */

position: absolute;
width: 298px;
height: 36px;
left: 124px;
top: 40px;

font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;

color: #FFFFFF;

